
/*注册的样式*/
body{
  background: #393D49;//设置背景颜色
}

.re_main{
  background-color: #dddddd;//设置主题颜色
  float: inherit;
  width:570px;
  height: 420px;
  /*设置绝对位置*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left:  -285px;

  padding-top: 0.5%;
  border-radius: 5px;

}
.re_main .re_up{
  height:80px;
  margin-left: 5%;
  line-height: 80px;

}
.re_main .re_up #re_title{
  font-size: 1.25rem;

}
.re_main .re_body{
  height:270px;
  padding-top: 5%;
  background-color: #ffffff;
}
.re_body .re_logo{
  margin-top: 2%;
  margin-left: 4%;
  padding-left: 3%;
  float:left;
  width: 20%;
  text-align: center;
}
.re_logo .re_img{
  height: auto;

}
.re_body .re_logo h2{
  margin-top: 5%;
  font-size: 1rem;
}
.re_body .re_nav{
  float:right;
  width:60%;
}
.re_body .re_nav{
  float:right;
  width: 70%;
}
.re_nav .layui-form-item .layui-form-label{
  font-size: 0.9rem;
}
.re_nav .layui-form-item .layui-input{
  width: 125%;
}
.re_nav .layui-form-item .layui-btn{
  float: left;
  width: 200px;
  height: 38px;
  cursor: pointer;
  font-size: 16px;
}
.re_nav a{
  font-size:12px;
  margin-left:155px;
  margin-top:5%;
}

.re_main .re_down {
  height: 40px;
  text-align: center;
  line-height: 40px;

}
.re_main .re_down h2{
  font-size: 10px;
}
/*项目用户管理的样式*/
.memMa_body_header{
  width:100%;
  height:70px;
  line-height:70px;
}
.memMa_projectName{
  float: left;
  font-size: 30px;
}
.memMa_min_center{
  padding:35px;
  padding-bottom:0px;
}
/*项目管理样式*/
#barDemo a .layui-btn .layui-btn-primary .layui-btn-xs{
  width:36px;
  height: 22px;
}
#barDemo a .layui-btn .layui-btn-xs{
  width:36px;
  height: 22px;
}
#barDemo a .layui-btn .layui-btn-danger .layui-btn-xs{
  width:36px;
  height: 22px;
}