

.layui-header .text{
    width:250px;
    margin-left: 60%;
    padding-top: 1.5%;
}
.layui-header .text input{
    height:20px;
}

.layui-header #button{
    height:23px;
    margin-bottom: 1px;
    color: white;
    background-color:rgb(35,38,46);
    border: hidden;
}