<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/7.0.0/normalize.min.css"/>
  <link rel="stylesheet" href="../layui-v2.2.5/layui/css/layui.css">
  <link rel="stylesheet" href="../css/main.css"/>
  <title>用户注册界面</title>
  <script src="../layui-v2.2.5/layui/layui.js"></script>
  <script src="../js/jquery-1.10.1.js"></script>
</head>
<body>
  <div class="re_main">
    <div class="re_up">
      <h2 id="re_title">飞马管理系统注册界面</h2>
    </div>
    <div class="re_body">
      <div class="re_logo">
        <div class="re_img"><img src="../images/1.png" height="88" width="132"/></div>
        <h2>飞马科技</h2>
      </div>
      <div class="re_nav">
        <form form action="" class="layui-form" id="f">
          <div class="layui-form-item">
            <label class="layui-form-label">登&nbsp;录&nbsp;名:</label>
            <div class="layui-input-inline">
              <input name="loginname" lay-verify="required|loginname" placeholder="4~20位数字，字母或下划线" autocomplete="off" class="layui-input" type="text" onkeyup="this.value=this.value.replace(/[^0-9\a-z\A-Z\_]/g,'')"/>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
            <div class="layui-input-inline">
              <input name="password" id="pwd" lay-verify="required|pass" placeholder="6~12位" autocomplete="off" class="layui-input" type="password" />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">确认密码:</label>
            <div class="layui-input-inline">
              <input name="confirm" lay-verify="required|confirm" placeholder="6~12位" autocomplete="off" class="layui-input" type="password" th:field="*{pll}">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit" >提交</button>
            </div>
          </div>
        </form>
        <a href="login.html" class="re_href">已有账号点击登录</a>
      </div>
    </div>
    <div class="re_down">
      <h2>@版权所用飞马科技</h2></div>
    </div>
  </div>
  <script src="../layui-v2.2.5/layui/layui.js"></script>
  <script>
      layui.use('form', function(){
          var flag = 0;
          var form = layui.form;
          //自定义验证规则
          form.verify({
              loginname: function(value){
                  if(value.length<4 || value.length>20){
                      return "长度必须为4~20";
                  }else{
                      if(flag==-1){
                          flag=0;
                          return '该用户已经存在';
                      }
                  }

              }
              ,password: function(value) {
                  if(value.length<6 || value.length>12){
                      return "长度必须为6~12";
                  }

              }
              ,confirm:function (value) {
                 if(value!=$("#pwd").val()){
                     return "两次输入不一致";
                 }
              }
          });

          //监听提交
          form.on('submit(demo1)', function(data){
              $.ajax({
                  url:"../loginAndRegisterCtrl/register",
                  type:"post",
                  data : $("#f").serialize(),//将对应form表单的所有可输入内容全部序列化
                  dataType:"JSON",
                  success:function(msg)
                  {
                      flag=msg.errorCode;
                      if(flag==0){
                          location.href="/loginAndRegisterCtrl/toComplete";
                      }else{
                          $("#demo1").click();
                      }
                  },
                  error:function()
                  {
                      alert("ajax传送有错");
                  }
              });
              return false;
          });
      });
  </script>
</body>
</html>
