<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css"/>
  <link rel="stylesheet" href="../layui-v2.1.7/layui/css/layui.css">
  <link rel="stylesheet" href="../css/main.css"/>
  <title>用户注册界面</title>
  <script src="../layui-v2.1.7/layui/layui.js"></script>
</head>
<body>
  <div class="main">
    <div class="up">
      <h2>飞马管理系统注册界面</h2>
    </div>
    <div class="body">
      <div class="logo">
        <div class="img"><img src="../images/1.png" height="88" width="132"/></div>
        <h2>飞马科技</h2>
      </div>
      <div class="nav">
        <form th:action="@{/sysUserCtr/doRegister}" th:object="${user}" method="post" th:method="post" class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">用&nbsp;户&nbsp;名:</label>
            <div class="layui-input-inline">
              <input name="username" lay-verify="username" placeholder="用户名不少于5个字符" autocomplete="off" class="layui-input" type="text" th:field="*{username}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">登&nbsp;录&nbsp;名:</label>
            <div class="layui-input-inline">
              <input name="loginname" lay-verify="loginname" placeholder="登录名不超过十二个" autocomplete="off" class="layui-input" type="text" th:field="*{loginname}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
            <div class="layui-input-inline">
              <input name="password" lay-verify="pass" placeholder="请填写6到12位密码" autocomplete="off" class="layui-input" type="password" th:field="*{pll}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">再次密码:</label>
            <div class="layui-input-inline">
              <input name="password" lay-verify="pass" placeholder="请填写6到12位密码" autocomplete="off" class="layui-input" type="password" th:field="*{pll}">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
        <a href="" class="href">已有账号点击登录</a>
      </div>
    </div>
    <div class="down"><p>@版权所用飞马科技</p></div>
  </div>
  <script src="../layui-v2.1.7/layui/layui.js"></script>
  <script>
      layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form
              ,layer = layui.layer
              ,layedit = layui.layedit
              ,laydate = layui.laydate;

          //日期
          laydate.render({
              elem: '#date'
          });
          laydate.render({
              elem: '#date1'
          });

          //创建一个编辑器
          var editIndex = layedit.build('LAY_demo_editor');

          //自定义验证规则
          form.verify({
              username: function(value){
                  if(value.length < 5){
                      return '用户名至少得5个字符啊';
                  }
              }
              ,login: function(value){
                  if(value.length>20){
                      return '用户名不能超过二十';
                  }
              }
              ,pass: function(value) {
                  if (value.length < 6||value.length>12) {
                      return '密码必须6到12位';
                  }
              }

          });

          //监听指定开关
          form.on('switch(switchTest)', function(data){
              layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                  offset: '6px'
              });
              layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
          });

//          //监听提交
//          form.on('submit(demo1)', function(data){
//              layer.alert(JSON.stringify(data.field), {
//                  title: '最终的提交信息'
//              })
//              return false;
//          });


      });
  </script>
</body>
</html>
