<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>项目成员管理</title>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/7.0.0/normalize.min.css"/>
    <link rel="stylesheet" th:href="@{/layui-v2.1.7/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/test.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/layui-v2.1.7/layui/layui.js}"></script>
    <script th:src="@{/js/memberManagement.js}"></script>
</head>
<body class="layui-layout-body" style="background-color: white">
<div class="layui-layout layui-layout-admin">
    <!--头部导航栏-->
    <div class="layui-header" th:include="headMenue">
    </div>
    <!--侧导航栏-->
    <div class="layui-side layui-bg-black" th:include="leftMenue">
    </div>
    <!--正文部分-->
    <div class="layui-body" style="background-color: white;">
        <div style="padding:15px">
            <div class="memMa_body_header">
                <h2 class="memMa_projectName">项目管理</h2>
            </div>
        </div>
        <div style="padding: 15px;margin-bottom: 20px;" class="header">
            <div style="float:left">
                <button class="layui-btn layui-btn-sm">所有模块</button>
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">所有</a>
                    <a href="">已延期</a>
                    <a href="">需求变动</a>
                    <a href="">更多</a>
                </span>
            </div>
            <div style="float:right">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;">&#xe63c;</i>报表</a>
                    <a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;">&#xe61e;</i>导出</a>
                    <a href=""><i class="layui-icon" style="font-size: 18px; color: #1E9FFF;">&#xe62f;</i>导入</a>
                </span>
                <button onclick="{location.href='../view/add_project.html'}" class="layui-btn layui-btn-sm">+建项目</button>
            </div>
            <div class="demoTable" style="float:right;margin-right:10%">
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="demoReload" autocomplete="off" value="搜索名称"/>
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
        </div>

        <div style="padding: 15px;">
            <table id="demo" lay-filter="test"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <script>
            layui.use('element', function(){
                var $ = layui.jquery
                    ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

                //触发事件
                var active = {
                    tabAdd: function(){
                        //新增一个Tab项
                        element.tabAdd('demo', {
                            title: '新选项'+ (Math.random()*1000|0) //用于演示
                            ,content: '内容'+ (Math.random()*1000|0)
                            ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                        })
                    }
                    ,tabDelete: function(othis){
                        //删除指定Tab项
                        element.tabDelete('demo', '44'); //删除：“商品管理”


                        othis.addClass('layui-btn-disabled');
                    }
                    ,tabChange: function(){
                        //切换到指定Tab项
                        element.tabChange('demo', '22'); //切换到：用户管理
                    }
                };

                $('.site-demo-active').on('click', function(){
                    var othis = $(this), type = othis.data('type');
                    active[type] ? active[type].call(this, othis) : '';
                });

                //Hash地址的定位
                var layid = location.hash.replace(/^#test=/, '');
                element.tabChange('test', layid);

                element.on('tab(test)', function(elem){
                    location.hash = 'test='+ $(this).attr('lay-id');
                });

            });
        </script>
        <script>

            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#demo'
                    ,height: 315
                    ,url: '/demo/table/user/' //数据接口
                    ,page: true //开启分页
                    ,cols: [[ //表头
                        {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                        ,{field: 'username', title: '项目名称', width:100}
                        ,{field: 'sex', title: '项目属性', width:100, sort: true}
                        ,{field: 'city', title: '开始日期', width:100,sort:true}
                        ,{field: 'sign', title: '结束日期', width:100,sort:true}
                        ,{field: 'experience', title:'项目状态', width: 100}
                        ,{field: 'score', title: '加盟日', width: 80, sort: true}
                        ,{field: 'classify', title: '角色', width: 80}
                        ,{field: 'wealth', title: '备注', width: 135}
                    ]]
                });
            });

        </script>
        <script>
            //JavaScript代码区域
            layui.use('element', function(){
                var element = layui.element;

            });
        </script>
    </div>
</div>
</body>
</html>