<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.feima.project_management.dao.ProjectManagementMapper">

    <select id="selectProjectAll" resultType="map">
        SELECT * FROM project limit 10
    </select>
    <!-->条件查询<-->
    <select id="selectProject" resultType="map">
        SELECT * FROM project
        <where>
            <if test="id!=null and id!=''">
                AND id=#{id}
            </if>
            <if test="name!=null and name!=''">
                AND id=#{name}
            </if>
            <if test="id!=null and id!=''">
                AND id=#{id}
            </if>
        </where>
    </select>
    <!-->插入操作<-->
    <insert id="insertProject" parameterType="com.feima.project_management.model.Project">
        INSERT into project
        VALUES(#{Project_Id}#{Project_Name},#{Project_Type},#{Project_Date_Begin},#{Project_Date_Over},#{Project_Working_Days},#{Project_State},#{Project_Describe})
    </insert>

    <delete id="deleteProject" parameterType="com.feima.project_management.model.Project">
        DELETE  from project where
    </delete>
</mapper>